<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>djPass</title>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/djpass">
       <i class="material-icons md-48">security</i>            Secure Password
      </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>


  <div class="alert alert-success alert-dismissible fade show" role="success">
    <strong>Welcome to Secure P@$$W0rD </strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="container" >
        <div class="row">
            <div class="col">
            </div>

            <div class="col-6 border border-secondary mt-5">
                <form action="about" method="get">

                <div class="mt-5 ml-5">
                    <div class="custom-control custom-radioDig custom-control-inline">
                        <input type="radio" id="customRadioInline0" name="customRadioInline" class="custom-control-input" checked value="9D">
                        <label class="custom-control-label " for="customRadioInline0">9 Digit ( Default )</label>
                    </div>

                    <div class="custom-control custom-radioDig custom-control-inline">
                        <input type="radio" id="customRadioInline1" name="customRadioInline" class="custom-control-input" value="8D">
                        <label class="custom-control-label " for="customRadioInline1">8 Digit</label>
                    </div>


                    <div class="custom-control custom-radioDig custom-control-inline">
                        <input type="radio" id="customRadioInline2" name="customRadioInline" class="custom-control-input" value="12D">
                        <label class="custom-control-label" for="customRadioInline2">12 Digit </label>
                    </div>

                    <div class="custom-control custom-radioDig custom-control-inline mb-3">
                        <input type="radio" id="customRadioInline3" name="customRadioInline" class="custom-control-input" value="16D">
                        <label class="custom-control-label" for="customRadioInline3">16 Digit </label>
                    </div>

<!--                    <div class="custom-control custom-switch custom-control-inline mb-3">
                        <input type="checkbox" class="custom-control-input" id="customSwitch5" checked name="DEFAULT">
                        <label class="custom-control-label" for="customSwitch5">9 Digit ( Default )</label>

                    </div> -->

                </div>

             <div class="custom-control custom-radio ml-5 ">
                        <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" value="ExSymbol">
                        <label class="custom-control-label" for="customRadio1">Exclude Symbols ( e.g. @#$% )</label>
                    </div>

                    <div class="custom-control custom-radio ml-5 mt-2">
                        <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" value="ExInt">
                        <label class="custom-control-label" for="customRadio2">Exclude Numbers ( e.g. 123490 )</label>
                    </div>


                    <div class="custom-control custom-radio ml-5 mt-2">
                        <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" value="ExLwr">
                        <label class="custom-control-label" for="customRadio3">Exclude Lower Case ( e.g. abcwxyz )</label>
                    </div>

                    <div class="custom-control custom-radio ml-5 mt-2 mb-5">
                        <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" value="ExUpr">
                        <label class="custom-control-label" for="customRadio4">Exclude Upper Case ( e.g. ABCXYZ ) </label>
                    </div>








                    <div class="mx-auto" style="width: 200px;">

                        <button type="submit" class="btn btn-primary mb-5"  > Generate Password
                        </button>

                    </div>


                </form>
            </div>

            <div class="col">
            </div>
    </div>


  </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
